
<div class="c-card">
    <div class="c-card__box-button">
        <app-logout align="end" class="c-card__button"></app-logout>
    </div>
    <mat-card class="c-card__white-card">
        <mat-card>
            <div class="c-card__title-center">
                <span class="c-card__title">POST YOUR DAILY HERE!</span>
            </div>
            <form [formGroup]="formPosts" (ngSubmit)="postDaily()">
                <textarea class="c-card__text-area" name="textarea" formControlName="postArea"></textarea>
                <div class="c-card__box-button">
                    <div class="c-card__button">
                        <button class="c-card__float">POST IT NOW!</button>
                    </div>
                </div>
            </form>
        </mat-card>
        <app-posts 
            class="c-card__table"
            [list]="posts$ | async"
            [displayedColumns]="colums">
        </app-posts>
    </mat-card>
</div>
