<div class="c-card">
    <mat-card class="c-card__white-card">
        <mat-grid-list cols="2">
            <mat-grid-tile>
            <form [formGroup]="formLogin" (ngSubmit)="enter()">
                <span class="c-card__title">PET DIARY!</span><br>
                <input placeholder="email here..." type="text" formControlName="email"><br>
                <input placeholder="password here..." type="password" id="password" name="fpassword" formControlName="password">
                <br>
                <button [disabled]="!formLogin.valid">ENTER</button>
                <br>
                <br>
                <div class="c-card__newAccount">
                    <span>Doesn’t have a account yet?</span>
                </div>
                <br>
                <button (click)="createNewAccount()">CREATE NEW ACCOUNT!</button>
            </form>
        </mat-grid-tile>
            <mat-grid-tile>
                <img src="../../assets/dog.png">
            </mat-grid-tile>
        </mat-grid-list>
    </mat-card>
</div>