<mat-table class="c-table" mat-table [dataSource]="list">
    <ng-container matColumnDef="id">
        <mat-header-cell class="c-table__title" *matHeaderCellDef> ID </mat-header-cell>
        <span class="c-table__mobile-title">ID</span>
        <mat-cell *matCellDef="let element"> 
            {{ element?._id }}
        </mat-cell>
    </ng-container>

    <ng-container matColumnDef="date">
        <mat-header-cell class="c-table__title" *matHeaderCellDef> DATA </mat-header-cell>
        <span class="c-table__mobile-title">DATA</span>
        <mat-cell *matCellDef="let element"> 
            {{ element?.date | date: 'dd.MM' }}
        </mat-cell>
    </ng-container>

    <ng-container matColumnDef="text">
        <mat-header-cell class="c-table__title" *matHeaderCellDef> TEXT </mat-header-cell>
        <span class="c-table__mobile-title">TEXT</span>
        <mat-cell *matCellDef="let element"> 
            {{ element?.text }}
        </mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>
