<mat-table class="c-table" mat-table [dataSource]="list">
    <ng-container matColumnDef="id">
        <mat-header-cell class="c-table__title" *matHeaderCellDef> ID </mat-header-cell>
        <mat-cell *matCellDef="let element"> 
            <span class="mobile-label c-table__title">ID:</span>{{ element?._id }}
        </mat-cell>
    </ng-container>

    <ng-container matColumnDef="date">
        <mat-header-cell class="c-table__title" *matHeaderCellDef> DATE </mat-header-cell>
        <mat-cell *matCellDef="let element"> 
            <span class="mobile-label c-table__title">DATE:</span> {{ element?.date | date: 'dd.MM' }}
        </mat-cell>
    </ng-container>

    <ng-container matColumnDef="text">
        <mat-header-cell class="c-table__title" *matHeaderCellDef> TEXT </mat-header-cell>
        <mat-cell *matCellDef="let element"> 
          <span class="mobile-label c-table__title">TEXT:</span> {{element?.text}} 
        </mat-cell>
    </ng-container>
    <ng-container matColumnDef="actions">
        <mat-header-cell class="c-table__title" *matHeaderCellDef> ACTIONS </mat-header-cell>
        <mat-cell *matCellDef="let element"> 
            <button>
                <span class="material-icons" (click)="deletePost(element?._id)">delete</span>
            </button>
        </mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>
<ng-template class="c-card__title-center" #empty>
    <span class="c-card__title">Doesnt exist posts yet!</span>
<ng-template>